.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 18px 50px;
    border-bottom: 2px solid rgb(148, 151, 148);
}

.header img{
    width: 200px;
}

.header nav ul{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.header nav{
    display: flex;
    align-items: center;
    gap: 28px;
    
}

.header nav img{
    border: 1px solid #000;
    border-radius: 50%;
    padding: 12px;
    width: 60px;
    cursor: pointer;
}