*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

body{
    background-color: rgb(246, 246, 246);
}

:root{
    --primary-color: #fff;
}

.box{
    -webkit-box-shadow: -12px 47px 45px -12px rgba(199,199,199,1);
    -moz-box-shadow: -12px 47px 45px -12px rgba(199,199,199,1);
    box-shadow: -12px 47px 45px -12px rgba(199,199,199,1);

}